body {
    background-color: lightgreen;
    text-align: center;
    font-family: Courier;
}

h1 {
    color:blue;
}

legend {
    color:white;
    text-align: left;
}

table {
    width: 100%;
}

#noparam {
    width: 50%;
    text-align: right;
}

#param {
    width: 50%;
    text-align: left;
}

#pedido {
    font-size: 20px;
    color:red;
}

p {
    font-size: 12px;
}